.title{
  padding: 0 2rem;
}

.outer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
}

.raw-input-container {
  width: 50vw;
  height: 100%;

  padding: 1rem;
}

.raw-input {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
}
.markdown-output-container {
  width: 50vw;
  height: 100%;
}

.markdown-output {
  width: 100%;
  height: 100%;
}
